POSTGRES_USER=your_postgres_user
POSTGRES_PASSWORD=change_me

REDIS_HOST=redis
REDIS_PASSWORD=change_me

RABBITMQ_HOST=rabbitmq
RABBITMQ_USER=your_rabbit_user
RABBITMQ_PASS=change_me

JWT_PRIVATE_KEY_BASE64=
JWT_PUBLIC_KEY_BASE64=

SPRING_PROFILES_ACTIVE=docker
LOG_LEVEL=INFO